@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.toronto-main {
  width: 100%;
  position: relative;
  margin: 6rem auto;
  padding: 2rem;
  

  .toronto-hero {
    height: 18.75rem;
    background-image: url(../../assets/images/homepage-background-mountains.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 0.5rem;

    &__overlay {
      background: rgba(0, 0, 0, 0.5);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;

    }

    &__title {
      color: white;
      font-size: 3rem;
      font-family: $font-header;
    }
  }

  .toronto-container {
    background:white;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin-top: -50px;
    z-index: 1;
    position: relative;

    &__header {

      &--options {
        display: flex;
        align-items: center;

        .options__search {
          position: relative;

          &--input {
            padding: 0.5rem 5.5rem 0.5rem 1rem;
            border: 0.0625rem solid $graphite;
            border-radius: 1.5rem;
            border-color: $cloud;
          }

          &--icon {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    &__list {
      .list__table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;

        .table__header {
          th {
            padding: 1rem;
            background: $cloud;
            color: #fff;
            text-align: left;
            border-bottom: 0.0625rem solid $cloud;

            &--cell {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
          }
        }

        .table__row {
          &:hover {
            background-color: $blue-sky;
            color: #fff;
          }

          .table__cell {
            padding: 1rem;
            border-bottom: 0.0625rem solid #ddd;

            &--name {
              display: flex;
              align-items: center;

              .table__link {
                text-decoration: none;
                cursor: pointer;
                margin-right: 1rem;

                &:hover {
                  text-decoration: underline;
                }
              }

              .table__image {
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                transition: transform 0.3s ease;

                &:hover {
                  transform: scale(7.5);
                }
              }
            }

            &--small {
              width: 12.5%;
            }
          }
        }
      }
    }
  }
}
