@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.toronto-main {
  width: 100%;
  border-radius: 0.5rem;
  position: relative;
  margin: 6rem auto;
  background: #fff;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  padding: 2rem;

  .toronto-container__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-image: url(../../assets/images/homepage-background-lines.jpeg);
    color: #fff;
    border-radius: 0.5rem 0.5rem 0 0;

    .header__title {
      padding: 1rem;
      display: flex;
      justify-content: flex-start;

      &--text {
        font-family: $font-header;
        margin: 0;
        padding-left:7rem;
      }
    }

    .header__options {
      display: flex;
      flex-direction: column;
      align-items: center;

      .options__search {
        position: relative;
        margin: 1rem 0;

        .search__icon {
          position: absolute;
          right: 0.75rem;
          top: 50%;
          transform: translateY(-50%);
        }

        .search__input {
          width: 100%;
          border-radius: 1.5rem;
          padding: 0.625rem 0.75rem;
          border: 1px solid $graphite;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .toronto-container__list {
    .list__table {
      width: 100%;
      display: table;

      .table__header {
        th {
          &:first-child {
            padding-left: 2rem;
          }

          div {
            display: flex;
            align-items: center;
          }
        }
        
        &--name {
          padding-left: 12rem;
        }
      }

      .table__row {
        &:nth-child(even) {
          background-color: lighten($green, 40%);
        }

        &:hover {
          background-color: $blue-sky;
          color: #fff;
        }

        td {
          &:first-child {
            padding-left: 12rem;
          }

          &.column--name {
            width: 50%;
          }

          &.column--small {
            width: 12.5%;
          }

          .element__title {
            text-decoration: none;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }

            img {
              margin-left: 0.3125rem;
            }
          }

          .element__image {
            margin-top: 0.625rem;
            width: 6.25rem;
            height: 6.25rem;
            display: flex;
            border-radius: 50%;
            transition: transform 0.3s ease;

            &:hover {
              transform: scale(6.1);
            }
          }
        }

        .column__editbtn {
          cursor: pointer;
          margin-left: 0.625rem;
        }
      }
    }
  }
}
