@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway-Light.ttf") format("opentype");
    font-weight: 400;
  }
  @font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway-Medium.ttf") format("opentype");
    font-weight: 600;
  }
  @font-face {
    font-family: "Parisienne";
    src: url("../../assets/fonts/Parisienne-Regular.ttf") format("opentype");
    font-weight: 500;
  }
  