@use "typography" as *;

//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//fonts
$font-global: "Raleway";
$font-header: "DancingScript";

//colors
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$light-Grey: #f7f8f9;
$green: #158463;
$red: #c94515;
$blue-sky:#5AB2FF;
$green: #C3FF93;
$yellow: #FF7D29;
$pink: #FF76CE;
$white:#FFF;
