@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.details {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #f0f4f8;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;

  &__header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    position: relative;
    background-image: url(../../assets/images/homepage-background-lines2.jpeg);
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

    &--img {
      cursor: pointer;
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    font-family: $font-header;
  }

  &__container {
    display: flex;
    margin-top: 2rem;

    &--image {
      width: 25%;
      overflow: hidden;
      border-radius: 0.5rem;
      margin-right: 2rem;

      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #333;
        margin-bottom: 1rem;
      }

      img {
        width: 100%;
        border-radius: 0.5rem;
        transition: transform 0.3s ease-in-out;
        padding-left: 0.4rem;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    &--text {
      flex-grow: 1;
      border-radius: 0.5rem;
      font-size: 1rem;
      color: #666;

      h2 {
        font-size: 1.5rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 1rem;
      }

      h4 {
        font-size: 0.9rem;
        font-weight: 500;
        color: #555;
        line-height: 25%;
        padding-left: 1rem;
      }

      button{
        padding: .625rem 4rem;
        width: 100%;
        font-size: 0.9rem;
        color: black;
        background: linear-gradient(45deg, rgba(219, 38, 219, 0.726), rgba(255, 99, 71, 0.8), rgba(135, 206, 235, 0.8));;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 6rem;
        margin-top: 4rem;
      }
      button:hover {
        background-color: rgb(171, 136, 226);
        font-weight:800;
      }
    }
  }


}
