@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
  }
  
  .welcome-container {
    margin-bottom: 20px;
  }

.image__giff{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
}
    
  .welcome-header {
    font-size: 1em;
    margin-bottom: 20px;
    color:black;
    line-height: 1.5rem;
  }
  
  .welcome-button {
    padding: 10px 20px;
    font-size: 1em;
    color: black;
    background-color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .welcome-button:hover {
    background-color: rgb(171, 136, 226);
    font-weight:800;
  }
  