@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: black;
    
  }
  
  .welcome-container {
    margin-bottom: 20px;

    &__pic{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }
  }
    
  .welcome-header {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .welcome-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .welcome-button:hover {
    background-color: #0056b3;
  }