@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.homepage {
  background-image: url(../../assets/images/homepage-background-lines2.jpeg);
  display: flex;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  align-items: center;
  justify-content: center;
  width:100%;
}