@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

  .leaflet-container{
    height: 8rem;
    top: 4rem;
    width:45vw;
  }

.leaflet-left{
  z-index: 0;
}